<html>
<head>
  <title>Sudoku Game</title>
  <!--link to the CSS stylesheet -->
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Life is too short for playing Sudoku</h1>
  <div id="flash">
    <%= flash[:notice] %>
  </div>
  <div id="sudoku">
  <form action="/" method="post">
    <!-- one div for each row -->
    <% 3.times do |row| %>
      <div class='row'>
        <%3.times do |box| %>
          <div class='box'>
          <!-- each box will have 3 cell rows, and each cell row will have 3 cells so box has 9 cells in total -->
            <%3.times do |cell_row| %>
              <div class="cell_row">
                <%3.times do |cell| %>
                  <div class="cell">
                  <%cell_index = row * 27 + box * 3 + cell_row * 9 + cell %>
                    <%cell_value = @current_solution[cell_index]%>
                    <%colour_class = colour_class(@check_solution, @puzzle[cell_index], @current_solution[cell_index], @solution[cell_index]) %>
                  <input name ="cell[]" type="text" maxlength="1" autocomplete="off" value="<%= cell_value %>" class="<%=colour_class%>">
                  </div>
                <%end%>
              </div>
            <%end%>
          </div>
        <%end%>
      </div>
    <%end%>
    <button>Check solution</button>
    </form>
  </div>
  <div id="hard">
  <form action="/hard" method="get">
  <button>Play Hard Sudoku</button>
  </form>
  </div>
  <div id="solution">
  <form action="/solution" method="get">
  <button>See full solution</button>
  </form>
  </div>
</body>
</html>




