#sudoku {
  /*font-size: 0;*/
  text-align: center;
}

#flash {
  margin: 20px;
}

body {
  text-align: center;
  font-family: Arial;
}
.box {
  border: solid purple;
}

div.box, div.cell {
  display: inline-block;
}

.cell input {
  width: 30px;
  height: 30px;
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DDD;
}

